<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/proyectoDAW2</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <welcome-file-list>
        <welcome-file>index.jspx</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ComprobarLogin</servlet-name>
        <servlet-class>es.albarregas.Servlet.ComprobarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>procesarLogin</servlet-name>
        <servlet-class>es.albarregas.Servlet.ProcesarLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComprobarRegistro</servlet-name>
        <servlet-class>es.albarregas.Servlet.ComprobarRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarRegistro</servlet-name>
        <servlet-class>es.albarregas.Servlet.ProcesarRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarSesion</servlet-name>
        <servlet-class>es.albarregas.Servlet.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarProductos</servlet-name>
        <servlet-class>es.albarregas.Servlet.MostrarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalizarCompra</servlet-name>
        <servlet-class>es.albarregas.Servlet.FinalizarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarDatos</servlet-name>
        <servlet-class>es.albarregas.Servlet.ModificarDatos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ComprobarLogin</servlet-name>
        <url-pattern>/ComprobarLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>procesarLogin</servlet-name>
        <url-pattern>/procesarLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComprobarRegistro</servlet-name>
        <url-pattern>/ComprobarRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarRegistro</servlet-name>
        <url-pattern>/ProcesarRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarSesion</servlet-name>
        <url-pattern>/cerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarProductos</servlet-name>
        <url-pattern>/MostrarProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalizarCompra</servlet-name>
        <url-pattern>/FinalizarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarDatos</servlet-name>
        <url-pattern>/ModificarDatos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
