/* 
    Created on : 21-nov-2014, 20:08:35
    Author     : Ventura
*/

#login-marco{
    width: 400px;
    height: 150px;
    border-radius: 15px;
    border-color: blue;
    border-style: solid;
    
    
    
}

